.all {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f9fb;
  display: flex;
}
.sidebar {
  width: 240px;
  background-color: #eaf6f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #dbe9eb;
  position: fixed;
  left: 0;
  right: 0;
}

.logo {
  padding: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #2c3e50;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  padding: 15px 20px;
  cursor: pointer;
  color: #2c3e50;
}

.nav li.active {
  background-color: #00796b;
  color: white;
  border-radius: 6px;
  margin: 5px;
}

.nav li:hover {
  background-color: #d1eeee;
}

.user-section {
  padding: 15px;
  border-top: 1px solid #dbe9eb;
}

.user-info {
  font-size: 14px;
  margin-bottom: 10px;
}

.logout {
  color: #c0392b;
  cursor: pointer;
}
